* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

.main-color {
    color: #FD6E0A;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

nav ul {
    display: flex;
    align-items: center;
}

.header {
    background-image: url(./images/header_bg.png);
    padding-left: 5px;
    background-repeat: no-repeat;
    background-position:bottom right;
    position: relative;
}

.btn-primary {
    width: 150px;
    height: 64px;
    background: #FD6E0A;
    border-radius: 5px;
    border: 0px;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
}

.Banner {
    margin: 0px 3px 0 200px;
    display: flex;
    align-items: center;
}
.developer_img img {
    position: absolute;
    left: 30px;
    height: 87vh;
    top: 20px;
}

.sub-title {
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 45px;
}

.main-title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 85px;
}

.header-description {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 18px;
    color: #757575;
}

.btn-contact {
    width: 150px;
    height: 64px;
    background: #FD6E0A;
    border-radius: 5px;
    border: 0px;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    margin-left: 30px;
}

.image-m {
    margin-left: 163px;
}

main {
    max-width: 1140px;
    margin: 0 auto;

}

.about {
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
}

.section-title {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;
}

.section-description {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #757575;
}
.about-info-container{
    display: flex;
    justify-content: space-between;
}
.about-info{
    text-align: center;
    margin-top: 30px;
}
.info-text-size{
    font-weight: 700;
font-size: 20px;
}
.section-head{
    
    max-width: 909px;
    margin: 0 auto;
}
.skills_container{
    display: flex;
    justify-content: space-between;
    
    margin-top: 50px;
}
.skills_info{
    padding: 33px;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    max-width: 204px;
}
.skills_container{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    gap: 104px 33px 30px 30px;
}
.skills{
    padding: 20px 20px;
    background: #FFFFFF;
box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
border-radius: 10px;
}
.skills_title{
    margin-top: 30px;
    font-weight: 700;
font-size: 20px;
line-height: 27px;
}
.skills_description{
    margin-top: 20px;
    max-width: 204px;
    font-weight: 400;
font-size: 16px;

}

.what_i_do {
    text-align: center;
    margin-top: 130px;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;
}

.what_i_do-description {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #757575;
}
.resume{
    margin-top: 130px;
    margin-bottom: 30px;
}
.resume_content_container{
    display: flex;
    gap: 25px;
    justify-content: space-between;
    margin-left: 100px;

}
.resume.title{
    font-weight: 700;
font-size: 25px;
color: #474747;
}
.resume_title{
    margin-bottom: 30px;
    font-weight: 700;
font-size: 30px;
}
.resume_title_items{
    max-width: 511px;
    
}
.item-sub-title{
    font-weight: 600;
font-size: 20px;
margin: 10px 0 10px 0;
}
.description{
    color: #757575;
    font-weight: 400;
font-size: 16px;

}
hr{
    margin: 30px 0 30px 0;
}
.resume_button{
    margin-top: 10px ;
    text-align: center;  
    margin-bottom: 50px;  
}
footer{
    max-width: 1600px;
}
.footer_container{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
    gap: 50px;
}
.footer_title{
    margin-bottom: 30px;
}
.from-text{
    position: absolute;
    background: #FFFFFF;
border-radius: 5px;
border: 0px;
}
.footer_section{
    margin-top: 113px;
    background-color: #FFF8F3;
    padding: 130px 0;
}
.footer_container {
    display: flex;
    justify-content: space-between;
    gap: 117px;
    max-width: 1140px;
    margin: auto;
}
.connect_side {
    width: 60%;
}
.connect_side p{
    margin-bottom: 30px;
}
.Message_side {
    width: 40%;
}
.connect_side h3{
    font-weight: 700;
font-size: 35px;
margin-bottom: 30px;
}
.Message_side h3{
    margin-bottom: 24px;
    font-weight: 700;
font-size: 35px;
}
.input{
    margin-bottom: 24px;
    border: 0px;
    display: block;
    width: 100%;
    height: 64px;
    padding: 20px;
}
.input_message{
    margin-bottom: 24px;
    width: 100%;
height: 180px;
display: block;
}
