* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.main-color {
    color: #FD6E0A;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

nav ul {
    display: flex;
    align-items: center;
}

.header {
    background-image: url(./images/header_bg.png), url(./images/developer.png);
    padding-left: 5px;
    background-repeat: no-repeat;
    background-position: bottom right, left;

}

.btn-primary {
    width: 150px;
    height: 64px;
    background: #FD6E0A;
    border-radius: 5px;
    border: 0px;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
}

.Banner {
    margin: 0px 3px 0 200px;
    display: flex;
    align-items: center;
}

.sub-title {
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 45px;
}

.main-title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 85px;
}

.header-description {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 18px;
    color: #757575;
}

.btn-contact {
    width: 150px;
    height: 64px;
    background: #FD6E0A;
    border-radius: 5px;
    border: 0px;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    margin-left: 30px;
}

.image-m {
    margin-left: 163px;
}

main {
    max-width: 1140px;
    margin: 0 auto;

}

.about {
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
}

.section-title {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;
}

.section-description {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #757575;
}
.about-info-container{
    display: flex;
    justify-content: space-between;
}
.about-info{
    text-align: center;
    margin-top: 30px;
}
.info-text-size{
    font-weight: 700;
font-size: 20px;
}
.section-head{
    
    max-width: 909px;
    margin: 0 auto;
}
.skills_container{
    display: flex;
    justify-content: space-between;
    
    margin-top: 50px;
}
.skills_info{
    padding: 33px;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    max-width: 204px;
}
.skills_container{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    gap: 104px 33px 30px 30px;
}
.skills{
    background: #FFFFFF;
box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
border-radius: 5px;
}
.skills_title{
    margin-top: 30px;
    font-weight: 700;
font-size: 20px;
line-height: 27px;
}
.skills_description{
    margin-top: 20px;
    max-width: 204px;
    font-weight: 400;
font-size: 16px;

}

.what_i_do {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;
}

.what_i_do-description {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #757575;
}
.resume{
    margin-top: 130px;
    margin-bottom: 130px;
}